<p id="notice"><%= notice %></p>

<p>
  <strong>Goobi xml import:</strong>
  <%= @goobi_xml_import.goobi_xml %>
</p>

<%= link_to 'Edit', edit_goobi_xml_import_path(@goobi_xml_import) %> |
<%= link_to 'Back', goobi_xml_imports_path %>
