Source: vips
Section: unknown
Priority: optional
Maintainer: Application <app@unknown>
Build-Depends: debhelper (>= 10), autotools-dev, libtiff-tools, liblcms2-dev, libexif-dev, libmagickcore-dev, imagemagick, libexpat-dev, libtiff5-dev, libgsf-1-dev, libjpeg-turbo8-dev
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/vips.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/vips.git

Package: vips
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
