<p id="notice"><%= notice %></p>

<p>
  <strong>METS xml import:</strong>
  <%= @mets_xml_import.mets_xml %>
</p>

<%= link_to 'Edit', edit_mets_xml_import_path(@mets_xml_import) %> |
<%= link_to 'Back', mets_xml_imports_path %>
