<p id='notice'><%= notice %></p>

<div class='row'>
  <div class='col'>
    <h1>Child Objects</h1>
  </div>
  <div class='col'>
    <div class='float-right button-list'>
      <%= link_to 'New Child Object', new_child_object_path, class: 'btn primary-button' %>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col overflow-auto'>
    <table id='child-objects-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= child_objects_path(format: :json) %>'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'>Oid</th>
          <th scope='col'>Label</th>
          <th scope='col'>Caption</th>
          <th scope='col'>Width</th>
          <th scope='col'>Height</th>
          <th scope='col'>Order</th>
          <th scope='col'>Parent Object</th>
          <th scope='col'>Actions</th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div id='child-objects-data' class='d-none datatable-data'>
  <%= ChildObjectDatatable.new(nil).view_columns.map {|key, value| {
    data: key,
    orderable: value[:orderable] || true,
    searchable: value[:searchable] || true,
    options: value[:options]
  }}.to_json %>
</div>
