$black: #000000;
$white: #FFFFFF;
$yale_blue: #043669;

// HEADER AND SUBHEAD
$header_bg: #043669;
$subhead_text: #043669;

// BODY
$body_text: #707070;

// SIDEBAR NAVIGATION
$sidebar_bg: #F6F6F6;
$sidebar_links: #707070;
$sidebar_active_link: #004EAD; // current page or selected
$sidebar_hover: #D9D9D9; // hover or selected
$sidebar_sign_out: #043669;

// BUTTON
$primary_button: #049A0A;
$secondary_button: #707070;

// TABLE / DATATABLE
$table_border: #707070;
$table_head: #3C3C3C;
