<p id='notice'><%= notice %></p>
<div class='row datatable-heading'>
  <div class='col'>
    <h1>Preservica Ingests</h1>
  </div>
</div>
<div class='row'>
  <div class='col overflow-auto'>
    <table id='preservica-ingests-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= preservica_ingests_path(format: :json) %>'>
      <thead class='table-head'>
        <tr>
          <th scope='col'>Parent OID</th>
          <th scope='col'>Child OID</th>
          <th scope='col'>Parent Preservica ID</th>
          <th scope='col'>Child Preservica ID</th>
          <th scope='col'>Batch Process ID</th>
          <th scope='col'>Timestamp</th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='preservica-ingests-data' class='d-none datatable-data'>
  <%= PreservicaIngestDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options]} }.to_json %>
</div>
