<div class='container'>
  <% if flash[:notice] %>
    <div class='notice'><%= flash[:notice] %></div>
  <% end %>
  <h1>Batch Processes</h1>
  <div class='row'>
    <%= render 'form' %>
  </div>
  <div class='row'>
    <div class='col overflow-auto'>
      <table id='batch-processes-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= batch_processes_path(format: :json) %>'>
        <thead class='thead-dark'>
          <tr>
            <th scope='col'> Process Id </th>
            <th scope='col'> User </th>
            <th scope='col'> Time </th>
            <th scope='col'> Size </th>
            <th scope='col'> Status </th>
            <th scope='col'> Object Details </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div id='batch-processes-data' class='d-none datatable-data'>
  <%= BatchProcessDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], options: value[:options]} }.to_json %>
</div>
