<%= current_user.uid %>
<%= current_user.valid? %>	<%= current_user.valid? %>


<div class="container">
  <h1>Batch Processes</h1>
  <%= render partial: "batch_processes/form" %>

<p>Find me in app/views/batch_process/index.html.erb</p>	<p>Find me in app/views/batch_process/index.html.erb</p>


<div class="container">	<div class="container">