<div class="container">
  <%= render "form" %>

  <h3> Batch Process </h3>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Process Id </th>
        <th scope="col"> User </th>
        <th scope="col"> Time </th>
        <th scope="col"> Items </th>
        <th scope="col"> Status </th>
      </tr>
    </thead>
      <% @batch_processes.each do |batch_process| %>
        <tr>
          <td><%= batch_process.csv.present? ? "csv: #{batch_process.id}" : "xml: #{batch_process.id}"%></td>
          <td><%= batch_process.created_by %></td>
          <td><%= batch_process.created_at %></td>
          <td>TODO: Items</td>
          <td>TODO: Status</td>
        </tr>
      <% end %>
  </table>
</div>