<div class='container'>
  <% if flash[:notice] %>
    <div class='notice'><%= flash[:notice] %></div>
  <% end %>
  <h1>Users</h1>
  <table style="width:100%" id="users-datatable" class='is-datatable table table-responsive table-bordered table-striped' data-source="<%= users_path(format: :json) %>">
  <thead class='thead-dark'>
    <tr>
      <th>NetId</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>System Admin</th>
      <th>Inactive</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <%= link_to('New User', new_user_path, class: 'btn btn-primary') %>
</div>

<div id='users-data' class='d-none datatable-data'>
  <%= UserDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options]} }.to_json %>
</div>