<% if flash[:notice] %>
  <div class='notice'><%= flash[:notice] %></div>
<% end %>
<div class='row datatable-heading'>
  <div class='col'>
    <h1>Users</h1>
  </div>
  <div class='col'>
    <div class='float-right button-list'>
      <%= link_to('New User', new_user_path, class: 'btn button primary-button') %>
    </div>
  </div>
</div>
<div class='row datatable'>
  <div class='col overflow-auto'>
    <table id="users-datatable" class='is-datatable table table-responsive table-bordered table-striped' aria-label='Users' data-source="<%= users_path(format: :json) %>">
    <thead class='table-head'>
      <tr>
        <th scope='col'>NetID</th>
        <th scope='col'>Email</th>
        <th scope='col'>First Name</th>
        <th scope='col'>Last Name</th>
        <th scope='col'>System Admin</th>
        <th scope='col'>Inactive</th>
      </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='users-data' class='d-none datatable-data'>
  <%= UserDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options], sort_order: value[:sort_order]} }.to_json %>
</div>