<div class="container">
    <!-- If the database is empty, seeds the database. Then updates the database with information about IDs and visibility. -->
    <p>Run prior to indexing any non-Ladybird data to Solr.</p>
    <%= link_to "Update Database", update_database_path, class: "btn btn-primary" %>
</div>
