
<div class="container">
  <h3> Containers </h3>
  <table class="table table-bordered table-responsive table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Service </th>
        <th scope="col"> Docker Repository </th>
        <th scope="col"> Github Repository </th>
        <th scope="col"> Deployed Version </th>
      </tr>
    </thead>
      <tr>
        <td> Management </td>
        <td>  <a href="https://hub.docker.com/repository/docker/yalelibraryit/dc-management">yalelibraryit/dc-management</a>   </td>
        <td>  <a href="https://github.com/yalelibrary/yul-dc-management">yalelibrary/yul-dc-management</a>   </td>
        <td id="management_version"> <%= ENV['MANAGEMENT_VERSION'].present? ? "#{ENV['MANAGEMENT_VERSION']}" : "" %> </td>
      </tr>
      <tr>
        <td> Blacklight </td>
        <td> <a href="https://hub.docker.com/repository/docker/yalelibraryit/dc-blacklight">yalelibraryit/dc-blacklight</a> </td>
        <td> <a href="https://github.com/yalelibrary/yul-dc-blacklight">yalelibrary/yul-dc-blacklight</a> </td>
        <td id="blacklight_version"> <%= ENV['BLACKLIGHT_VERSION'].present? ? "#{ENV['BLACKLIGHT_VERSION']}" : "" %> </td>
      </tr>
      <tr>
        <td> IIIF Image Server </td>
        <td> <a href="https://hub.docker.com/repository/docker/yalelibraryit/dc-iiif-cantaloupe">yalelibraryit/dc-iiif-cantaloupe</a> </td>
        <td> <a href="https://github.com/yalelibrary/yul-dc-iiif-imageserver">yalelibrary/yul-dc-iiif-imageserver</a></td>
        <td id="iiif_image_version"> <%= ENV['IIIF_IMAGE_VERSION'].present? ? "#{ENV['IIIF_IMAGE_VERSION']}" : "" %> </td>
      </tr>
  </table>
</div>
