<h1>Management#index</h1>


<div>
  <h3> Run Rake Task </h3>
    <%= link_to "Index Voyager Records to Solr", metadata_source_path("ils"), class: "btn btn-primary" %>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= link_to "Index Ladybird Records to Solr", metadata_source_path("ladybird"), class: "btn btn-primary" %>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
</div>
