<div class="container">
  <h1>Management Dashboard</h1>
  <br />
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
  <%= render partial: "database_dash" %>
  <br />
  <%= render partial: "solr_index_dash" %>
  <br />
  <%= render partial: "service_display" %>
</div>
