<% if user_signed_in? %>
  <div class="container">
    <h1>Management Dashboard</h1>

    <br />
    <%= render partial: "flash_messages" %>
  </div>
  <br />
  <%= render partial: "service_display" %>
<% else %>
  <%= render partial: "flash_messages" %>
  <%= button_to 'You must sign in', user_cas_omniauth_authorize_path, class: 'list-group-item list-group-item-action bg-light' %>
<% end %>
