<table class='table table-striped admin-set-show-table'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'> Viewers </th>
    </tr>
  </thead>
  <tbody>
    <% User.with_role(:viewer, @admin_set).order('last_name ASC').each do |user| %>
      <tr>
        <td><%= "#{user.last_name}, #{user.first_name} (#{user.uid})" %><%= link_to 'X', remove_role_path(uid: user.uid, role: user.find_role(:viewer, @admin_set), admin_set: @admin_set), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class='table table-striped admin-set-show-table'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'> Editors </th>
    </tr>
  </thead>
  <tbody>
    <% User.with_role(:editor, @admin_set).order('last_name ASC').each do |user| %>
        <tr>
          <td><%= "#{user.last_name}, #{user.first_name} (#{user.uid})" %><%= link_to 'X', remove_role_path(uid: user.uid, role: user.find_role(:editor, @admin_set), admin_set: @admin_set), method: :put %> </td>
        </tr>
    <% end %>
  </tbody>
</table>
