<%= render partial: "/management/flash_messages" %>

<div class='row datatable-heading'>
  <div class='col'>
    <h1>Admin Sets</h1>
  </div>
  <div class='col'>
    <div class='float-right button-list'>
      <%= link_to 'New Admin Set', new_admin_set_path, class: "btn button primary-button" %>
    </div>
  </div>
</div>

<div class='row datatable'>
  <div class='col overflow-auto'>
    <table id='batch-processes-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= admin_sets_path(format: :json) %>'>
      <thead class='table-head'>
      <tr>
        <th scope='col'> Key </th>
        <th scope='col'> Label </th>
        <th scope='col'> Homepage </th>
      </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='batch-processes-data' class='d-none datatable-data'>
  <%= AdminSetDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options]} }.to_json %>
</div>
