<%= render partial: "/management/flash_messages" %>

<div class='permission-set-heading'>
  <div class='col'>
    <h1>Permission Requests</h1>
  </div>
</div>

<div class='row datatable'>
  <div class='col overflow-auto'>
    <table id='permission-requests-datatable' class='is-datatable table table-responsive table-bordered table-striped' aria-label='Permission Requests' data-source='<%= permission_requests_path(format: :json) %>'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'> Request ID </th>
          <th scope='col'> Permission Set Label </th>
          <th scope='col'> Request Date </th>
          <th scope='col'> OID </th>
          <th scope='col'> User Name </th>
          <th scope='col'> User ID </th>
          <th scope='col'> Net ID </th>
          <th scope='col'> Request Status </th>
          <th scope='col'> Approver Note </th>
          <th scope='col'> Date Approved/Denied </th>
          <th scope='col'> Access Expired </th>
          <th scope='col'> Approver </th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='permission-request-data' class='d-none datatable-data'>
  <%= PermissionRequestDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options]} }.to_json %>
</div>
