<p>
  Dear <%= @user_notification[:request_user_name] %>,
</p>
<p>
  Your request to view the object <%= @user_notification[:parent_object_title] %> in Yale's Digital Collections System has been denied.
</p>
<small>
  <pre>This is an automated message sent by Yale’s Digital Collections System.</pre>
</small>