// Place all the styles related to the AdminSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table.admin-set-show-table {
  display: inline-block;
  width: auto;
  vertical-align: top;

  th {
    width: 300px;
  }

  .user-role {
    display: flex;
    justify-content: space-between;
  }
}