/********************************************************
DEFAULT DESKTOP STYLING
********************************************************/
@import 'theme/colors', 'theme/typography', 'theme/breakpoints';

.batch-import {
  display: flex;
  justify-content: space-between;

  .form-inline {
    padding-top: 0;
  }
}

.batch-process-heading,
.batch-process-subheading {
  h1 {
    font-size: 30px;
    font-family: $bold_font_family;
  }
}

.batch-process-subheading {
  padding-top: 25px;
}

.batch-process-details {
  display: flex;

  p {
    font-size: 16px;
    font-family: $standard_font_family;
  }

  p:not(:first-child) {
    margin-left: 20px;
  }
}

.button-list form {
  display: inline-block;
}

.page-actions {
  font-size: 16px;
  font-family: $standard_font_family;
}
