/********************************************************
DEFAULT DESKTOP STYLING
********************************************************/
// styles are in order from the top to the bottom of the page
@import 'theme/colors', 'theme/typography', 'theme/breakpoints';

.datatable-heading {
  margin-bottom: 25px;

  h1 {
    font-size: 30px;
    font-family: $bold_font_family;
  }
}

.button {
  color: $white;
  border-radius: 0;
  font-family: $standard_font_family;
}

.primary-button {
  background-color: $primary_button;
  border-color: $primary_button;
}

.secondary-button {
  background-color: $secondary_button;
  border-color: $secondary_button;
}

.datatable {
  margin: 0;
}

.col.overflow-auto {
  padding: 0;
}

.dataTables_length {
  font-family: $standard_font_family;
  font-size: 17px;
  padding-bottom: 5px;
}

.dataTables_length .custom-select {
  border-radius: 0;

  option {
    font-family: $standard_font_family;
  }
}

.table-head {
  background-color: $table_head;
  color: $white;
  font-family: $standard_font_family;
  font-size: 18px;
  letter-spacing: 1px;
}

.is-datatable .row > th {
  width: 170px;
}

.is-datatable #search-row {
  input {
    padding-left: 7px;
    font-size: 15px;
  }

  select {
    padding-left: 7px;
    font-size: 15px;
    border-radius: 0;
  }
}

.datatable-body {
  td {
    font-family: $mallory_light, Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  a {
    font-family: $standard_font_family;
    font-size: 18px;
  }
}

.fa-pencil-alt {
  margin-left: 10px;
}

.fa-pencil-alt,
.fa-eye {
  float: right;
}

.fa-trash {
  margin-bottom: 20px;
}

.dataTables_info {
  font-size: 20px;
}

.dataTables_info,
.dataTables_paginate {
  display: inline-block;
  line-height: 38.25px;
  width: 50%;

  a {
    font-family: $standard_font_family;
  }
}

.clear-filters-button {
  margin-right: 8px
}

.reoccurring-notice p {
  font-size: 18px;
}

table.dataTable {
  max-height: calc(100vh - 360px);
}

table#batch-processes-datatable {
  max-height: calc(100vh - 480px);
}

#user-activity-filter {
  float: right;
  display: flex;
}

#user-activity-filter label {
  font-size: 18px;
  margin-left: 10px;
}

#parent-object-versions-table .fa-external-link-alt {
  margin-left: 10px;
}