/********************************************************
DEFAULT DESKTOP STYLING
********************************************************/
@import 'theme/colors', 'theme/typography', 'theme/breakpoints';
@import 'bootstrap';

// Any Management-specific CSS should go here
td.actions {
  min-width: 23em;
}

.alert-warning {
  color: #CC071E;
  outline: 1px solid;
  outline-color: #CC071E;
  background-color: #FAEAEA;
}

.child-objects {
  margin-bottom: 15px;
  width: 90%;
}

.dt-buttons {
  float: right;
}

.dt-button.dropdown-item {
  background-color: transparent;
  color: #495057;
}
.dt-button.dropdown-item.active {
  background-color: transparent;
  color: #495057;
}

.dt-button.dropdown-item::before {
  content: "◻";
  background: transparent;
  margin-right: 8px;
  color: #888888
}
.dt-button.dropdown-item.active::before {
  content: "✓";
  color: inherit;
}

// Add styles for colvis dropdown
.dt-button-collection .dropdown-item {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}

.dt-button-collection .dropdown-item::before {
  position: absolute;
  left: 0.5rem;
  content: "□";
  color: #888888;
}

.dt-button-collection .dropdown-item.active::before {
  content: "■";
  color: #495057;
}

dt.represent-thumb{
  position: relative;
}

@media (min-width: 768px) {
  .dt-button-collection .dropdown-menu {
    margin-left: -175px;
  }
}

.bottom-spacer {
  margin-bottom: 80px
}