/********************************************************
DEFAULT DESKTOP STYLING
********************************************************/
@import 'theme/colors', 'theme/typography', 'theme/breakpoints';
@import 'bootstrap';

// Any Management-specific CSS should go here
td.actions {
  min-width: 23em;
}
.child-list {
  max-height: 150px;
  overflow-y: auto;
  max-width: 300px;
}
.child-objects {
  margin-bottom: 15px;
}
