/********************************************************
DEFAULT DESKTOP STYLING
********************************************************/
@import 'theme/colors', 'theme/typography', 'theme/breakpoints';

.table-responsive {
  cursor: all-scroll;
}

.child-list {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: auto;
}

.child-list ol {
  margin-left: -22px;
}

.delete-item-container,
.update-item-container {
  display: grid;
  padding-top: 10px;
}

.delete-item-container,
.update-item-container {
  grid-template-columns: 0.25fr 1fr;
}

.delete-item-label,
.update-item-label {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: bold;
}

.delete-item-button,
.update-item-button {
  background-color: $white;
  border: 2px solid $delete_button_border;
  border-radius: 7px;
}

.delete-item-button {
  color: $delete_button_text;
}

.fa {
  color: $dark_grey;
  padding: 5px;
  border: 5px solid $light_medium_grey;
  border-radius: 5px;
}

.fa-filter {
  font-size: 28px;
}

.fa-filter-circle-xmark {
  font-size: 27px;
}

.metadata-block {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid $light_grey;
}

.metadata-block tr:nth-child(even) {
  background-color: $lighter_grey;
}

.metadata-block td {
  font-size: 14px;
  color: $medium_grey;
  font-family: $mallory_medium, Arial, Helvetica, sans-serif !important;
}

#parent-show {
  display: grid;
  grid-template: 'a b' auto;
}

#parent-show em {
  grid-area: a;
}

#parent-show table {
  grid-area: b;
  margin-left: 5px;
}

.show-header {
  font-family: $yale_new_roman, 'Times New Roman', Times, serif !important;
  font-size: 1.5rem;
  color: $yale_blue;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  width: 82%;
  position: relative;
}

.update-item-button {
  color: $black;
}
