/********************************************************
DEFAULT DESKTOP STYLING
********************************************************/
@import 'theme/colors', 'theme/typography', 'theme/breakpoints';

#users-datatable {
  border-bottom: none;
  border-top: none;
}

.table.user-roles-table {
  width: auto;
  vertical-align: top;

  th {
    width: 300px;
  }
}
