/********************************************************
DEFAULT DESKTOP STYLING
********************************************************/
@import 'theme/colors', 'theme/typography', 'theme/breakpoints';


.table.user-roles-table {
  width: auto;
  vertical-align: top;

  th {
    width: 300px;
  }
}
