<div class="flex-container yale_management_banner" id="wrapper">
  <div class="header yale_management_header_brand">
    <div class="main_yale_management_banner">
      <h1> Yale University Library </h1>
    </div>
    <div class="sub_yale_management_banner">
      <a target="_blank" rel="noopener" href="https://docs.google.com/document/d/1hTc108JDYLYcXy-TG_KJE4A626-ps59XhkKUFGlnaPQ/edit?usp=sharing">User Guide <em class="fa fa-external-link-alt"></em></a>
      <h2>Digital Library Management Portal</h2>
    </div>
  </div>
</div>