<div class="flex-container yale_management_banner" id="wrapper">
  <div class="header yale_management_header_brand">
    <div class="main_yale_management_banner">
      <h1> Yale University Library  - <span class="sub_yale_management_banner">Digital Library Management Portal</span></h1>
    </div>
  </div>
</div>