
<div class="flex-container yale_management_banner" id="wrapper">
  <div class="header yale_management_header_brand">
    <div class="main_yale_management_banner">
      <h1> Yale University Library </h1>
    </div>
    <div class="sub_yale_management_banner">
      <h2>Digital Library Management Portal</h2>
    </div>
  </div>
</div>

